<div class="app flex-row align-items-center">
  <div style="margin-top: 20px;">
    <div class="alert alert-warning" *ngIf="emailNotExists">Email doesn't exists.</div>
    <div class="alert alert-success" *ngIf="forgetPasswordEmailSent">Email sent.</div>
    <form (ngSubmit)="onForgetPassword()">
      <div class="form-group">
        <label for="recoverEmail">Your Email Address *</label>
        <input type="email" class="form-control" id="recoverEmail" name="recoverEmail" [(ngModel)]="recoverEmail" required="required" >
        <p style="color:#828282;">Enter your registered email address.</p>
      </div>
      <button md-raised-button type="submit" class="mat-primary">Submit</button>
    </form>
  </div>   
</div>  
  